
.video-background {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.video-background h1 {
text-align: center;
font-size: 6rem;
font-family: 'Amatic SC', cursive;
background: darkgreen;
padding: 20px;
margin: 15px;
z-index: 1;
color: white;

}
  
 nav {
    display: inline-block;
    padding-top: 5px;
    padding-right: 15px;
}

nav a {
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    color: black;}   
h2 {
    /* display: inline; */
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
    
}

.bluebg {
    background-color: lightgreen;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
    color: RGB(33, 29, 30);
}

p {
    /* text-align: center; */
    font-family: 'Andika', sans-serif;
    color: RGB(33, 29, 30);
    font-size: 1rem;
}

footer {
    padding: 50px;
}

.rowMargin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bg-light {
    background-color: RGB(255, 255, 255) !important;
}

.bg-warning {
    /* min-height: 30px; */
    background-color: RGB(247, 175, 170)!important;
}

.bg-info {
    height: 100%;

    background-color: RGB(245, 245, 253)!important;
}

.col-4 {
    margin-left: auto;
    margin-right: auto;
} 

.btn-secondary {
    background-color: RGB(247, 175, 170)!important;
    color: rgb(0,0,0);
    border-color: RGB(247, 175, 170);
}

/* jumbo */

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.shortTop {
    min-height: 300px;
}

/* /* .bgColor {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 50px;
    margin-top: 50px; 
} */

@media (max-width: 580px){
    .smGone {
        display: none;
    }
}

.card {
    background-color: transparent !important;
    border: none;
}

.carousel-item {
    height: 50rem;
    margin-top: 25px;
}

.container {
    min-height: 100px;
}

i {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
}