
 h1 {
     font-family:Arial Bold, sans-serif;
     background-color: purple;
     font-size: 21pt;
     text-align: center;
     padding-top: 30px;
     color: white;
 }
 h2 {font-family:Arial Narrow Bold, sans-serif;
     color: yellow;
     font-size: 21pt;
     padding-top: 20px;
     text-align: left;}
 